.button-link {
  text-decoration: none;
  background-color: #6f9f84;
  color: #ffffff;
  padding: 8px 22px;
  border-radius: 6px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1.2;
}

.button-link:hover {
  background-color: #658f77;
}

.button-link:active {
  background-color: #5b806a;
}

.img {
  width: 48px;
  height: 60px;
  object-fit: cover;
}
