.custom_image {
    width: 72px;
    height: 72px;
    object-fit: cover;
}

.nutri-a {
    background: #1b5e20;
    color: #fff;
}

.nutri-b {
    background: #66bb6a;
    color: #fff;
}

.nutri-c {
    background: #fdd835;
    color: #212529;
}

.nutri-d {
    background: #fb8c00;
    color: #fff;
}

.nutri-e {
    background: #d32f2f;
    color: #fff;
}

.nutri-na {
    background: #adb5bd;
    color: #fff;
}

.nutri-score {
    width: 72px;
    height: 72px;
    font-size: 32px;
    font-weight: 700;
}
