.btn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.icon {
  font-size: 36px;
  width: 36px;
  height: 36px;
  margin: 0;
  color: #6f9f84;
}

.icon-search {
  color: #000000;
}