.btn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.icon {
  font-size: 36px;
  width: 36px;
  height: 36px;
  margin: 0;
  color: #6f9f84;
}

.icon-search {
  color: #000000;
}

.toolbar-left, .toolbar-right {
  display: flex;
  align-items: center;
}

.toolbar-right {
  margin-left: auto;
}

.toolbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  height: 40px;
}

.logo:hover {
  opacity: 0.9;
}
