footer {
    bottom: 0;
    left: 0;
    text-align: center;
    margin-top: auto;
    color: white;
    width: 100%;
    height: 44.73px!important; 
    font-size: 14px!important;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
a {
    text-decoration: none;
    color: inherit;
}